<div class="container">

  <div class="about-title">
    <h1 class="heading-primary--main about-title__heading">Company Profile</h1>
    <h1 class="heading-primary--sub about-title__subtitle">The Cutting Edge in High Precision Machining</h1>

  </div>

  <div class="about-intro">
    <p class="paragraph">We are comprised of an excellent team of engineers, skilled technicians, and manufacturing experts who are more than capable of the precision machining any type of component for a wide range of industries.</p>

    <ul class="paragraph about-intro__list">
      <li>Quick Turnaround</li>
      <li>Very Competitive Prices</li>
      <li>Lights Out Production</li>
      <li>ISO 9001 ACCREDITED</li>
      <li>Small Batch Work</li>
      <li>Volume Production</li>
      <li>3 & 4 axis machining centers</li>
    </ul>

  </div>

  <div class="about-more">

    <h2 class="heading-secondary about-more__title">About Us</h2>

    <p class="paragraph">We work on the principles of distinguished quality services, render services to customer demands, engineering expertise, detailed design of the products. Focusing to Continuous improvement on all aspects of our business</p>


    <p class="paragraph">Our vision is to be the reliable long-term sub-contracting manufacturing partner of modern industrial companies to contribute substantially to the development of innovative and high precision components. On-time delivery of our services to customer satisfaction.</p>
      
      
    <p class="paragraph">We Design, Manufacture and Trade of Valve components, DBB, Manifolds, gauge valve needle valve and ball valves Spare parts for oil field. we also offer Aerospace components and Medical industry spares. We also deal in Auto components, as well as custom made machined part as per customer drawings and specifications using latest CAD/CAM software.</p>


    <p class="paragraph">Our modern state-of-the-art infrastructure unit is full of latest technology machines. This is divided into several units like manufacturing, in-house testing, warehousing, packaging, and sales &amp; marketing units.</p>

  </div>


  
</div>