@font-face {
  font-family: Philosopher;
  src: url("assets/fonts/Philosopher/Philosopher-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Neutron;
  src: url("assets/fonts/Neuton/Neuton-Light.ttf") format("truetype");
}
