:host {
  // background-color: rgba($color: #fff, $alpha: 0.7);
  background-color: rgba($color: #fff, $alpha: 1);

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 5px 0 10px #ccc;
  z-index: 10;
}

.logo-container {


  width: 80%;
  padding: 4rem;
  margin: 0 auto;

  border-radius: 5px;
  background: #ffffff;
  box-shadow:  5px 5px 24px #d9d9d9, 
              -5px -5px 24px #ffffff;

  &__logos {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    & .logo {
      width: 35%;
    }

    & .logo-text {
      margin-top: 2rem;
      width: 80%;
    }

    & .logo-full {
      width: 80%;
    }
  }
}

.nav-container {

  margin-top: 4rem;

  &__links > * {

    // display: block;

    & a {
      display: block;
      color: #000;
      // color: #99b898;
      text-decoration: none;

      font-size: 2.5rem;
      padding: 2rem;

      text-align: center;
    }

    & a:hover {
      color: white;
      background-color: rgba($color: #000, $alpha: 0.8);
      box-shadow: 5px 5px 5px rgba($color: #333, $alpha: 0.8);
    }

  }
}


.quote-container {

  margin: 3rem 5rem;

  &__text {
    color: #000;
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;

    border: 0.2rem solid #f00;

    text-decoration: none;
    display: block;
  }

  & a:hover {
    color: white;
    border: 0.2rem solid #000;
    background-color: rgba($color: #000, $alpha: 0.8);
    box-shadow: 5px 5px 5px rgba($color: #333, $alpha: 0.8);
  }

}
