<div class="logo-container">
  
  <div class="logo-container__logos">
    <img src="./../../assets/images/logo.png" alt="Marsh Precision Engineering" class="logo">
    <img src="./../../assets/images/logo_text.png" alt="Marsh Precision Engineering" class="logo-text">
    <!-- <img src="./../../assets/images/logo_full.png" alt="Marsh Precision Engineering" class="logo-full"> -->
  </div>
</div>
<div class="nav-container">

  <ul class="nav-container__links">
    <li><a href="">Home</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Our Capabilities</a></li>
    <li><a href="">Our Equipment</a></li>
    <li><a href="">Our Work</a></li>
    <li><a href="">Contact</a></li>
  </ul>

</div>

<div class="quote-container">
  <a href="" class="quote-container__text">
    Get a Quote
  </a>
</div>
