<div class="logo-container">
  
  <div class="logo-container__logos">
    <img src="./../../assets/images/logo.png" alt="Marsh Precision Engineering" class="logo">
    <img src="./../../assets/images/logo_text.png" alt="Marsh Precision Engineering" class="logo-text">
    <!-- <img src="./../../assets/images/logo_full.png" alt="Marsh Precision Engineering" class="logo-full"> -->
  </div>
</div>
<div class="nav-container">

  <ul class="nav-container__links">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="about">About Us</a></li>
    <li><a routerLink="capability">Our Capabilities</a></li>
    <li><a routerLink="">Equipment</a></li>
    <li><a routerLink="">Our Work</a></li>
    <!-- <li><a href="">Contact</a> -->
  </ul>

</div>

<div class="quote-container">
  <a href="" class="quote-container__text">
    <!-- Get a Quote -->
    Contact Us
  </a>
</div>
