:host {
  background-color: rgba($color: #ccc, $alpha: 0.7);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {


  width: 100%;
  padding: 4rem;

  &__logos {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    & .logo {
      width: 35%;
    }

    & .logo-text {
      margin-top: 2rem;
      width: 80%;
    }
  }
}

.nav-container {

  &__links > * {

    // display: block;

    & a {
      display: block;
      color: #000;
      text-decoration: none;

      font-size: 2.5rem;
      padding: 2rem;

      text-align: center;
    }

    & a:hover {
      background-color: rgba($color: #fff, $alpha: 0.8);
    }

  }
}


.quote-container {

  margin: 3rem 5rem;

  &__text {
    color: #000;
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;

    border: 0.2rem solid #f00;

    text-decoration: none;
    display: block;
  }

  & a:hover {
    background-color: rgba($color: #fff, $alpha: 0.8);
  }

}
