<div class="container">

  <div class="capability-title">
    <h1 class="heading-primary--main capability-title__heading">
      Our Capability
    </h1>
  </div>

  <div class="capability-content">
    <p class="paragraph">We are involved in offering a wide range of machining components complying with industry standards. Our portfolio of products comprises simple turning parts &amp; complex component work pieces with transverse and longitudinal bores, key surfaces &amp; grooves or complex back
    machining. we operate modern CNC machines with up to 4 axes machining centres with latest Cad cam software.</p>

    
    <p class="paragraph">We are technically well equipped to produce to manufacture cost-efficient &amp; high quality precise both complex &amp; relatively simple components according to client requirements. Also, our QC expert checks inline as well as final products as per quality check plans. Because of our full range of machinery and equipment, we can provide our clients with a comprehensive service that allows us to manufacture a broad selection of part of various sizes.</p>


    <p class="paragraph">We are dedicated to the highest standards, and as such, our services and offerings include the manufacturing of precision turned parts comprised of a wide range of materials. We can work with materials That’s include Carbon steel, SS duplex, Super duplex, Inconel625/825,  Titanium, Copper, Brass, Aluminium, PTFE.</p>
      
      
    <p class="paragraph">Furthermore we can do Laser marking on all machined components for identification and easy traceability as per client requirement </p>


    <p class="paragraph">We also do design and drafting of Pressure vessel equipment’s, Layouts and Piping layouts by using latest software, compliant to international standard and as per client specifications</p>
    
    
    <h2 class="heading-secondary quality__title">Quality</h2>
    <p class="paragraph">Quality is precise Thing you can expect from us</p>

    <p class="paragraph">We committed to build quality products as per customer requirements and our high-quality system concentrates on providing Defect-free services for high precision machined components to our customers.</p>

  </div>

</div>