.container {
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url("../assets/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  grid-column: center-start / center-end;
  display: flex;
  align-items: flex-end;
}

.inner-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  margin-bottom: 5rem;
  color: #fff;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.hero {
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  &__logo {
    display: flex;
    justify-content: center;

    &-title {
      font-size: 2.4rem;
      color: #d69846;
      display: flex;
      flex-direction: column;
    }
  }

  &__logo img {
    display: block;
    height: 5.4rem;
  }

  &__slogan {
    text-align: center;
    font-size: 3.5rem;
    font-family: "Philosopher", sans-serif;
  }
}

.content {
  grid-column: 2 / 4;

  display: grid;
  gap: 3rem;

  &__title {
    align-self: end;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  &__text {
    font-size: 1.8rem;
  }
}

.contact {
  grid-column: 4/ 5;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  &__email {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &__address {
    display: grid;
    grid-template-columns: 1fr 3fr;

    &--text {
      line-height: 1.5;
    }
  }
}

.footer {
  justify-self: center;
  font-size: 1.3rem;
  color: #888;

  & a {
    text-decoration: none;
    color: #888;
  }
}

.divider {
  display: inline-block;

  position: absolute;
  top: -5rem;
  left: -2rem;

  width: 1px;
  height: 150%;

  border: none;
  background-image: radial-gradient(circle, #fff, transparent);
}
