.container {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.2)), url("./../assets/images/background.png");

  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 0 4fr;
}


.dark {
  box-shadow: 10px 0 15px #000;
}

.light {
  box-shadow: 5px 0 10px rgba(#000, 0.5);
}