<div class="container">

  <div class="wrapper">
    <div class="inner-wrapper">
      <main class="main">
        <div class="hero">

          <div class="hero__logo">
            <img src="../assets/images/logo.png" alt="Creative Engineers Logo">
            <div class="hero__logo-title">
              <span>Creative</span> <span>Engineers</span>
            </div>
          </div>

          <div class="hero__slogan">
            <div class="hero__slogan--top-line">
              If you do it right,
            </div>
            <div class="hero__alogan--bottom-line">
              it will last forever.
            </div>
          </div>

        </div>

        <div class="content">

          <div class="content__title">
            Comming Soon
          </div>
          <div class="content__text">
            Our website is under construction, we are working very hard to give you the best experience with this one.
          </div>
        </div>


        <div class="contact">
          <span class="divider"></span>
          <div class="contact__email">
            <div class="contact__email--icon">Email</div>
            <div class="contact__email--text">rajesh.dsilva@creativengg.com</div>
          </div>
          <div class="contact__address">
            <div class="contact__address--icon">Address</div>
            <div class="contact__address--text">
              <div class="contact__address--line1">Casa Bianca, Solitaire Avenue</div>
              <div class="contact__address--line2">Brahminali, Papdi</div>
              <div class="contact__address--line3">Vasai, Maharashtra</div>
              <div class="contact__address--line4">IN</div>
              <div class="contact__address--line5">401207</div>

            </div>
          </div>

        </div>
      </main>
      <footer class="footer">&copy; 2020 &mdash; Made with &hearts; by <a href="#">Reuel D'silva</a> </footer>
    </div>
  </div>
</div>
